<IfModule mod_rewrite.c>
RewriteEngine On
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
	RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d


    RewriteRule \.(?:css|js|jpe?g|gif|png)$ - [L]
    RewriteRule ^api/(.*)$ api-router.php?resource=$1 [QSA,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers  "Authorization,Content-Type"


</IfModule>

